p {
    text-align: center;
    margin: 20%;
    font-size: 5em;
}

@media (max-width: 412px) {
    .desktop {
        display: none;
    }

}

@media (min-width: 413px) {
    .mobile {
        display: none;
    }

}